fastapi
uvicorn[standard]
python-multipart
pymongo
motor
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
google-generativeai
sentence-transformers
faiss-cpu>=1.8.0,<2.0.0
rank-bm25
PyPDF2
pdfplumber
langgraph
langchain
langchain-google-genai
tenacity
scikit-learn
torch